




{% extends 'platformowners/managerbase.html' %}
{% block content %}



<div style="text-align:center">Accounts Balances Menu</div>
   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">

      <td style="background:blue">
          <a href="/managers/platformowners/welcome/"  style="color:white">Create Admin</a>
      </td>      

      <td  >
          <a href="/managers/platformowners/welcome/"  style="color:red">Create Owner</a>
      </td>


    </tr>
</table>




{% endblock %}



