



   <table style="margin-top:0%;margin-bottom:0%;font-size:0.7em" class="table">

    <tr style="text-align:center">


        <td >
            <table style="margin-top:0%;margin-bottom:0%" class="table  table-bordered">

            <tr>
             <td style="background:blue"><a href="#" onClick= "autopost2()" style="color:white">Comprehension</a></td>
            </tr>
            </table>


            <table style="margin-top:0%;margin-bottom:0%;font-size:0.9em" class="table  table-bordered">
                <tr>
                    <td style="background:grey"><a href="#" onClick= "autopost2()" style="color:white">Passage</a></td>
                     <td> <a href="#" onClick= "autoobjq()" style="color:whdite">Questions</a></td>
                </tr>            
            </table>

        </td>

    <td >

        <table style="margin-top:0%;margin-bottom:0%" class="table  table-bordered">

        <tr>
            <td><a href="#" onClick= "autoblock2()" style="color:whte">Block</a></td>
        </tr>
        </table>

            <table style="margin-top:0%;margin-bottom:0;font-size:0.9em%" class="table  table-bordered">

                <tr>
                    <td><a href="#" onClick= "autoblock2()">Instruction</a></td>

                     <td> <a href="#" onClick= "autbklq()" style="color:whdite">Questions</a></td>
                </tr> 

            </table>

        </td>
          <td >
            <table style="margin-top:0%;margin-bottom:0%" class="table  table-bordered">

            <tr>
             <td><a href="#" onClick= "autoothers()" style="color:whte">Others</a></td>
            </tr>
            </table>

            <table style="margin-top:0%;margin-bottom:0;font-size:0.9em%" class="table  table-bordered">
                <tr>
                    <!-- <td><a href="#" onClick= "autoothers()">Instruction</a></td> -->

                     <td> <a href="#" onClick= "autoothers()" style="color:whdite">Questions</a></td>
                </tr>         
            </table>

        </td>


    </tr>


</table>


        <table style="margin-top:03%;margin-bottom:0%" class="table table-bordered " >
         

        <div style="margin-top:02%;margin-bottom:-3.1%">Paragraph 1</div>
          <tr>
            <td ><textarea name='p1' class="form-control" rows="3"> {{qq.p1}}</textarea>       
             </td >
           </tr>

        </table>





    <table style="margin-top:03%;margin-bottom:0%" class="table table-bordered " >
    <div style="margin-top:02%;margin-bottom:-3.1%">Paragraph 2</div>
      <tr>

        <td >
                <textarea name='p2' class="form-control" rows="3">{{qq.p2}}</textarea>
         </td >
       </tr>

    </table>





      <table style="margin-top:3%;margin-bottom:0%" class="table table-bordered " >
    <div style="margin-top:02%;margin-bottom:-3.1%">Paragraph 3</div>
      <tr>


        <td >
                <textarea name='p3' class="form-control" rows="3">{{qq.p3}}</textarea>
         </td >
       </tr>

    </table>


        <table style="margin-top:3%;margin-bottom:02%" class="table table-bordered " >
        <div style="margin-top:02%;margin-bottom:-3.1%">Paragraph 4</div>
          <tr>
            <td >
                    <textarea name='p4' class="form-control" rows="3">{{qq.p4}}</textarea>
             </td >
           </tr>

        </table>


            <tr>
                <td>
                    <input type="hidden" name="term" value="{{ term }}" >
                </td>

                 <td>
                    <input type="hidden" name="session" value="{{ session }}" >
                </td>

                <td>
                    <input type="hidden" name="klass" value="{{ klass }}" >
                </td>

                 <td>
                    <input type="hidden" name="subject" value="{{ subject }}" >
                </td>

                 <td>
                    <input type="hidden" name="exam" value="{{ exam}}" >
                </td>
            </tr> 


            
</table>



  <table style="margin-top:3%;margin-bottom:0%" class="table  table-bordered " >
   <tr>

        <input class="btn btn-lg btn-success btn-block" formaction="/cbt/enter/question/english/"  name="submit" type= "submit" value="Save">

   </tr>
</table>


  



