


{% extends 'welcome1.html' %}
{% block sectionTitle %}Success{% endblock %}
{% block content %}





 <table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
  <tr>
   <span style="font-size:1em;color:blue;text-align:center;"> Bravo!!!. SECTION A completed succcessfully!! <br> </span>
   </tr>

  </table>



 <table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
  <tr>Step 2:</tr>
   <span style="font-size:1em;color:red;text-align:center;"> Select one from the options below<br> </span>


  </table>
<!-- 
   <div >To see how you have performed, click continue and proceed to script</div> -->

<form action="/cbt/take_test/mytheory/" method="post" enctype="multipart/form-data" role="form">




     <table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
            <td>     
               <button class="btn btn-lg btn-success btn-block" type ='submit' formaction="/cbt/take_test/enggglish/previous/" >Preview
                <!-- <i class="fa fa-backward fa-1x"></i> -->
              </button>
            </td>
             <td>
               
              <button class="btn btn-lg btn-success btn-block" type ='submit' >
                <!-- <i class="fa fa-forward fa-1x"></i> -->
                Section C </button>
                </td>

     </table>

<input type="hidden" name="code"   readonly="readonly" value="{{ code }}">
<input type="hidden" name="groupcode"  readonly="readonly" value="{{ groupcode }}">

</form>
{% endblock %}