
<html>
<head>.


</head>
<body>








 <table style=" margin-top:0%;margin-bottom:0.9;font-size:0.3em%" width="100%" class="table  table-bordered " id="dataTables-example">
    <tr>{{getdetails.qstn}}</tr>
</table>


 <table style=" margin-top:0%;margin-bottom:0.9%" width="100%" class="table  table-bordered " id="dataTables-example">
    <tr style='border:0px solid black' align='center'>
          <img style="width: 20em; height: 20em;" src="/static/{{getdetails.image}}" >
      </tr>
</table>


<div class="btn btn-lg btn-success btn-block" ><a href="/cbt/options/">Continue</a> </div>

</html>
