

<html>
<head>

   

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
</head>
<body>

<form  action="/cbt/enter/changeoptionA/othersimagechangeA/{{code}}/" 
method="post"
enctype="multipart/form-data"
onsubmit="disable(this)">


<table style="margin-top:3%;margin-bottom:02%" class="table table-bordered " >


<tr> 
  <td>
    <img  src="/static/{{a}}" alt="{{choose}}">
  </td>

</tr>
<tr>
  <td><input type ='file' name='qstfl'></td>

 </tr>

</table>

  <table style="margin-top:3%;margin-bottom:0%" class="table  table-bordered " >
   <tr>

        <input class="btn btn-lg btn-success btn-block"   name="submit" type= "submit" value="Update">

   </tr>
</table>

<input type="hidden" name="optionA" value="{{ a }}" >


</form>





