


{% extends 'welcome1.html' %}
{% block sectionTitle %}Success{% endblock %}
{% block content %}



<table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

   <span style="font-size:1em;color:blue;text-align:center;"> CONGRATULATIONS, your papers have been submitted!!! <br> You can view your script on the scheduled date</span>

   </table>






     <table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">


             <td>
               
              <button class="btn btn-lg btn-success"> 
                <i class="fa fa-home fa-1x"></i><a href="/welcome/">Home</a> 
            </button>
                </td>

     </table>


{% endblock %}