
{% extends 'platformadministrators/administrators_base.html' %}


{% block content %}


    <div style = "font-size:0.9em">Please read Carefully<hr>
     These are the major steps you should follow, if you want to use this app effectively as a Platform Administrator<hr>



   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center;">
      <td >Settings</td>

      <td>New</td> 
      <td>Edit</td>      
    </tr>


</table>

   <table style="margin-top:01%;margin-bottom:0%;font-size:0.8em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr >

      <td > School</td>
      <td > <a href="/admin/onboarding/client/school/">New</a></td>
      <td > <a href="/admin/onboarding/client/school/">Edit</a></td>

  
    </tr>


    <tr >

      <td > Branches</td>
      <td > <a href="/admin/onboarding/client/branches/">New</a></td>
      <td > <a href="/admin/onboarding/client/branches/edit/">Edit</a></td>

  
    </tr>


    <tr >

      <td > Sections</td>
      <td > <a href="/admin/onboarding/client/sections/">New</a></td>
      <td > <a href="/admin/onboarding/client/sections/edit/">Edit</a></td>

  
    </tr>


    <tr >

      <td > Term Names</td>
      <td > <a href="/admin/onboarding/client/termnames/">New</a></td>
      <td > <a href="/admin/onboarding/client/termnames/edit/">Edit</a></td>

  
    </tr>



    <tr >

      <td > Subjects</td>
      <td > <a href="/admin/onboarding/client/subjects/">New</a></td>
      <td > <a href="/admin/onboarding/client/subjects/edit/">Edit</a></td>

  
    </tr>

    <tr >

      <td > Classrooms</td>
      <td > <a href="/admin/onboarding/client/classrooms/">New</a></td>
      <td > <a href="/admin/onboarding/client/classrooms/edit/">Edit</a></td>

  
    </tr>

</table>

{% endblock %}
