
{% extends 'platformadministrators/administrators_base.html' %}


{% block content %}


<div><a href="/admin/onboarding/client/school/">New School</a></div>
   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr >
      <td >Select School </td>

      <td> <input type='text'></td>
    </tr>


</table>


   <table style="margin-top:0%;margin-bottom:0%;font-size:0.8em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

    <button></button>
   </table>


{% endblock %}
