

{% extends 'platformadministrators/administrators_base.html' %}

{% block sectionTitle %}{% endblock %}

{% block content %}



<table style="margin-top:2%;margin-bottom:2%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">


         <tr >
           <td >{{ form.client.label_tag }} </td><td>{{ form.client }}</td>
       </tr>


         <tr >
           <td >{{ form.location.label_tag }} </td><td>{{ form.location }}</td>
       </tr>

</table>





<tr >
<div class="boxsections"></div>
</tr>


        
  <script type="text/javascript" >
        $(document).ready(function() {            

            $("#id_client").change(function () {
                getlocation();
            });


            $("#id_location").change(function () {
                autopostsection();
            });

            getclient()
    
        });
    </script>



        <script type="text/javascript" language="javascript">
        function getclient(){
            var state = "{{varuser}}";
            // alert(state);
            var url = "/admin/onboarding/client/section/getclient/";
            var i = 0;
            var data='userid='+state;
            $("#id_client").val('');   
            $("#id_client").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_client").append(options);
                        getlocation();

                    }
                })
            }
        }

    </script>



        <script type="text/javascript" language="javascript">
        function getlocation(){
            var state = "{{varuser}}" + ":" + $("#id_client").val();
            // alert(state);
            var url = "/admin/onboarding/client/section/getlocation/";
            var i = 0;
            var data='userid='+state;
            $("#id_location").val('');   
            $("#id_location").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_location").append(options);
                        autopostsection();

                    }
                })
            }
        }

    </script>



        <script type="text/javascript" language="javascript">
        function autopostsection(){

            var state =  $("#id_client").val()+ ":" + $("#id_location").val();

            // alert(state);

            var url = "/admin/onboarding/client/section/select/view/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxsections").hide();
                    $(".boxsections").show();
                    $(".boxsections").html(html);

                }
            });
            return false;
        }
    </script>

{% endblock %}
