
<!DOCTYPE html>
<html>
<head>

</head>
<body>

 


<div>Which subsection of <span style="color:red">{{school}} {{address}} </span>will use this app</div>


<table style="margin-top:01%;margin-bottom:03%;font-size:1em;text-align:center" width="100%" class="table  table-bordered" id="dataTables-example">

                <tr style="font-weight:bold">
                  <td>S/N</td>
                  <td>Term</td>
                  <td>Select</td>
                </tr>

      {% for j in sec %}

      <tr>

        <td>{{forloop.counter}}</td>
        <td>{{j.term}} Term</td>

            <td >
                <a style='color:green' href="#" onClick= "termselect({{ j.term_code }})">
                            {{  j.alias }}
                 </a>
            </td>


      </tr>
            {% endfor %}

  </table>




<div id="mytermial" title="Sections Dialog Box"></div>

<script type="text/javascript" >
            $(document).ready(function() {
                $("#mytermial").hide();
            });
</script>
<script >
    function termselect(vid){
        var state = vid + ":" + '{{school_code}}';
         // alert(state)
        var url = "/admin/onboarding/client/term/termpop/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#mytermial").show();
                $("#mytermial").html(html);
                term_dialog();
            }
        });
        return false;
    }

</script>


<script >
    function newbranch(vid){
        var state = vid;
         alert(state)
        var url = "/admin/onboarding/client/branches/new/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#myDialog").show();
                $("#myDialog").html(html);
                get_ca_dialog();
            }
        });
        return false;
    }

</script>


<script type="text/javascript" language="javascript">
    function term_dialog(){
        var dialogterm = {
            autoOpen:true,
            // modal:true,
            // position: ["center", "middle"],
            title:"Touch  the x to close" ,
            closeOnEscape:true,
            show: true,
            // hide: true,
            bgiframe: true
        };
        $("#mytermial").dialog(dialogterm);
    }

</script>

</body>

</html>