
{% extends 'platformadministrators/administrators_base.html' %}


{% block content %}


<table style="margin-top:2%;margin-bottom:2%;font-size:0.9em" width="100%" class="table  table-bordered" id="dataTables-example">


         <tr >
           <td >{{ form.client.label_tag }} </td><td>{{ form.client }}</td>
       </tr>

</table>


<table style="margin-top:01%;margin-bottom:0.2%" width="100%" class="table  table-bordered" id="dataTables-example">
           <tr >
                <div class="boxfund"></div>
           </tr>
</table>


 
<input type="hidden" name="wallet" id="wallet"  readonly="readonly" value="{{ wallet }}" class ="loginTxtbox">



  <script type="text/javascript" >
        $(document).ready(function() {            

            $("#id_client").change(function () {
                autopostclient();
            });

            getclient()
    
        });
    </script>



        <script type="text/javascript" language="javascript">
        function getclient(){
            var state = "{{varuser}}";
            // alert(state);
            var url = "/admin/onboarding/client/section/getclient/";
            var i = 0;
            var data='userid='+state;
            $("#id_client").val('');   
            $("#id_client").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_client").append(options);
                        autopostclient();

                    }
                })
            }
        }

    </script>






        <script type="text/javascript" language="javascript">
        function autopostclient(){

            var state =  $("#id_client").val();

            // alert(state)

            var url = "/admin/onboarding/client/termnames/select/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxfunddsd").hide();
                    $(".boxfund").show();
                    $(".boxfund").html(html);

                }
            });
            return false;
        }
    </script>
{% endblock %}
