{%extends 'setup/typography.html' %}
{% block content %}






            <form action="/setup/arm/" method="post" name ="main2" id="form2" onsubmit="disable(this)">

<!-- 
                        <tr>

                            <td colspan=12 align="center" style="border-radius:10px;border:0px solid black;width:100%;font-weight: bod;background-color:#ccccc0;color: black;text-align:center;vertical-align:top;">Arm Set up</td>


       
                    </tr> -->

    <div align ="center" style="background-color:#ccccc0;border:0px solid black;width:100%;height:3%; font-size:16px;color:black;text-align:center">Classroom Set Up </div>






        <table style="margin-top:0%;margin-bottom:0.2%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">


                    <tr>
                        <td >
                            {{ form2.klass.label }}
                        </td>
                        <td >
                            {{form2.klass}}
                        </td>

                    </tr>

                    <tr>
                        <td >
                            {{ form2.arm.label }}
                        </td>
                        <td >
                            {{form2.arm}}
                        </td>

                    </tr>

</table>




<table style="margin-top:0%;margin-bottom:0.2%;font-size:0.8em" width="100%" class="table  table-bordered" id="dataTables-example">
                <tr>

                    <td >
                        <div style='text-align:center'>

                        <input name="submit" type= "submit" value="   Create Room  ">
                        </div>
                    </td>

                </tr>
                
            </table>


    </form>




<td colspan="20"><div class="ca_box"></div></td>




    <div id="myDialog" title="Edit Principal"> </div>



    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
            };

            autopost2();
        });
    </script>

   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_klass").change(function () {
                autopost2();
            });

        });
    </script>



    <script type="text/javascript" language="javascript">
        function autopost2(){
            var state = $("#id_klass").val();
            // alert(state);

            var url = "/setup/classroom/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".ca_box").show();
                    $(".ca_box").html(html);

                }
            });
            return false;
        }
    </script>



<script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#id_arm").focus();
        });
</script>

{% endblock %}